@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@1,500&family=Lato:wght@100&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Karla', sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    width: 100vw;
    padding: 8px 12px;
}

.navbar-down {
    position:fixed;
    animation: down 0.3s ease;
}

@keyframes down {
    0%{
        transform: translateY(-50px)
    }
    100%{
        transform: translateY(0px)
    }  
 }

.brand {
    margin-right: auto;
    font-size: 24px;
}

.url {
    font-size: 24px;
    color: #fff;
    text-decoration: none;
    position: relative;
    padding: 8px 12px;
}

.nav-link {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.nav-link li {
    padding: 8px 12px;
}

.navbar li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 4px;
    background: #f1c40f;
    transition: all .5s ease-out;
}

.navbar li a:hover::after {
    width: 100%;
}

.navbar__toggleBtn {
    display: none;
    position: absolute;
    right: 32px;
    padding: 0;
}

@media screen and (max-width:900px) {
    .navbar {
        flex-direction: column;
        padding: 8px 24px;
    }

    .nav-link {
        display: none;
        flex-direction: column;
        align-items: center;
    }

    .navbar__toggleBtn {
        display: block;
    }

    .nav-link.active {
        display: flex;
        transition: 5s ease;
    }
}

.main {
    height: 100vh;
    width: 100vw;
}

.main1 {
    float: left;
    width: 40%;
    height: 100%;
    background-color: black;
    color: white;
    text-align: center;
}

.main2 {
    height: 100%;
    float: right;
    width: 60%;
    text-align: center;
    color: white;
    background-image: url("./img/내이미지.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url("./img/내이미지.jpg");
}

.intro1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 100%;
    font-size: 30px;
    animation: fadeInUp 10s;
}

.intro2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60vw;
    height: 100%;
}

.like-travel {
    font-size: 70px;
    animation: fadeInUp 3s;
}

.myname {
    font-size: 100px;
    text-decoration: underline;
    text-decoration-color: #f1c40f;
}

.imp-content {
    font-size: 40px;
    text-decoration: underline;
    text-decoration-color: #f1c40f;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

hr {
    border: solid 3px #f1c40f;
    margin : 10px 100px;
}

.project {
    position: relative;
    height: 110vh;
    width: 100vw;
    background-color: white;
    z-index: 1;
}

.section input[name="slide"]
 {
    display: none;
 }

 .section .slidewrap {
    max-width: 1200px;
    max-height: 1000px;
    margin: 0 auto;
    overflow: hidden;
 }

 .explain {
    opacity: 0;
    position: absolute;
 }

 .section .slidelist > li:hover .explain {
    opacity: 1;   
 }

 .section .slidelist > li:hover {
    filter: brightness(50%);
    cursor: pointer;
 }

 .section .slidelist {
    white-space: nowrap;
    font-size: 0;
 }

 .explain1 {
    padding: 10px 10px 10px 0;
    font-size: 17px;
    width: 60%;
    float: left;
    white-space: normal;
 }

 .explain2 {
    padding: 60px 0 10px 10px;
    font-size: 18px;
    width: 40%;
    float: right;
    white-space: normal;
 }

 .section .slidelist > li {
    display: inline-block;
    vertical-align: middle;
    transition: all .5s;
 }

 .section .slidelist > li > a {
    display: block;
    position: relative;
 }

 .section .slidelist > li > a img {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
 }

 .section .slidelist label {
    position: absolute;
    z-index: 10;
    top: 40%;
    transform: translateY((-50%));
    padding: 20px;
    cursor: pointer;
 }

 .section .slidelist .left {
    left: 60px;
    background: url('./img/left.png') center center / 100% no-repeat;
 }

 .section .slidelist .right {
    right: 60px;
    background: url('./img/right.png') center center / 100% no-repeat;
 }

 .section [id="slide01"]:checked ~ .slidewrap .slidelist > li {
    transform: translateX(0%);
 }

 .section [id="slide02"]:checked ~ .slidewrap .slidelist > li {
    transform: translateX(-100%);
 }

.section .slide-control [class*="control"] {
    display: none;
}

.section [id="slide01"]:checked ~ .slidewrap .control01 {
    display: block;
}

.section [id="slide02"]:checked ~ .slidewrap .control02 {
    display: block;
}

.share {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: white;
}

.more-about-me {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: white;
}

.skills {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: white;
}

.title {
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: black;
    padding: 10px;
}

.share-container {
    display: flex;
    justify-content: center;
}

.githup-container {
    margin: 50px;
    background-color: white;
    border-radius: 20px;
    width: 400px;
    text-align: center;
    height: auto;
}

li {
    list-style-type : none;
}

.text-container1 {
    color: black;
}

.text-container2 {
    color: black;
}

.velog-container {
    margin: 50px;
    background-color: white;
    border-radius: 20px;
    width: 400px;
    text-align: center;
    height: auto;
}

.githup-icon-container {
    padding: 50px;
    margin: 50px;
    width: 300px;
    height: 300px;
}

.velog-icon-container {
    padding-top: 50px;
    margin: 50px;
    width: 300px;
    height: 300px;
}

.githup-icon {
    border-radius: 20px;
    width: 200px;
    height: 200px;
}

.velog-icon {
    border-radius: 20px;
    width: 250px;
    height: 200px;
}

.sub-title {
    display: flex;
    padding: 10px;
    justify-content: center;
}

.front-end {
    background-color: white;
    width : 300px;
    height: auto;
    border-radius: 20px;
    margin: 40px 60px 40px 60px;
}

.skill-icon1 {
    display: flex;
    justify-content: center;
    width: 250px;
    height: 100px;
    margin: auto;
    padding: 10px 10px 10px 10px;
}

.skill-icon2 {
    display: flex;
    justify-content: center;
    width: 150px;
    height: 150px;
    margin: auto;
    padding: 10px 10px 10px 10px;
}

.skill-container {
    display:flex;
    justify-content: center;
}
