* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    top: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    width: 100vw;
    padding: 8px 12px;
}

.brand {
    margin-right: auto;
    font-size: 24px;
}

a {
    font-size: 24px;
    color: #fff;
    text-decoration: none;
    position: relative;
    padding: 8px 12px;
}

.nav-link {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.nav-link li {
    padding: 8px 12px;
}

.navbar li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 4px;
    background: #f1c40f;
    transition: all .5s ease-out;
}

.navbar li a:hover::after {
    width: 100%;
}

.navbar__toggleBtn {
    display: none;
    position: absolute;
    right: 32px;
    padding: 0;
}

@media screen and (max-width:900px) {
    .navbar {
        flex-direction: column;
        padding: 8px 24px;
    }

    .nav-link {
        display: none;
        flex-direction: column;
        align-items: center;
    }

    .navbar__toggleBtn {
        display: block;
    }

    .nav-link.active {
        display: flex;
        transition: 5s ease;
    }
}

.main {
    height: 100vh;
    width: 100vw;
}

.main1 {
    float: left;
    width: 40%;
    height: 100%;
    background-color: black;
    color: white;
    text-align: center;
}

.main2 {
    height: 100%;
    float: right;
    width: 60%;
    text-align: center;
    color: white;
    background-image: url("내이미지.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url("나나.jpg");
}

.intro1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 100%;
}

.intro2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60vw;
    height: 100%;
}