@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@1,500&family=Lato:wght@100&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Karla', sans-serif;
}

header {
    position: fixed;
    top: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    width: 100vw;
    padding: 8px 12px;
}

.brand {
    margin-right: auto;
    font-size: 24px;
}

a {
    font-size: 24px;
    color: #fff;
    text-decoration: none;
    position: relative;
    padding: 8px 12px;
}

.nav-link {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.nav-link li {
    padding: 8px 12px;
}

.navbar li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 4px;
    background: #f1c40f;
    transition: all .5s ease-out;
}

.navbar li a:hover::after {
    width: 100%;
}

.navbar__toggleBtn {
    display: none;
    position: absolute;
    right: 32px;
    padding: 0;
}

@media screen and (max-width:900px) {
    .navbar {
        flex-direction: column;
        padding: 8px 24px;
    }

    .nav-link {
        display: none;
        flex-direction: column;
        align-items: center;
    }

    .navbar__toggleBtn {
        display: block;
    }

    .nav-link.active {
        display: flex;
        transition: 5s ease;
    }
}

.main {
    height: 100vh;
    width: 100vw;
}

.main1 {
    float: left;
    width: 40%;
    height: 100%;
    background-color: black;
    color: white;
    text-align: center;
}

.main2 {
    height: 100%;
    float: right;
    width: 60%;
    text-align: center;
    color: white;
    background-image: url("./img/내이미지.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url("./img/내이미지.jpg");
}

.intro1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 100%;
    font-size: 30px;
}

.intro2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60vw;
    height: 100%;
}

.like-travel {
    position: relative;
    animation: fadeInUp 5s;
    font-size: 70px;
}

.myname {
    font-size: 100px;
}

.imp-content {
    font-size: 40px;
    text-decoration: underline;
    text-decoration-color: #f1c40f;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        transform: translateZ(0);
    }
}

.project {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: white;
}

.share {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: white;
}

.more-about-me {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: white;
}

.skills {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: black;
}

.project-container1 {
    position: absolute;
    left: 35%;
    width: 700px;
    height: 80vh;
    border-radius: 20px;
    background-color: black;
    transform: translateX(-70%);
}

.project-container2 {
    position: absolute;
    left: 65%;
    width: 700px;
    height: 80vh;
    border-radius: 20px;
    background-color: black;
    transform: translateX(-30%);
}

.project-img-container {
    display: flex;
    border-radius: 20px;
    justify-content: center;
}

.project-img {
    border-radius: 20px;
    width: 450px;
    height: 300px;
    margin: 50px;
}

.title {
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: black;
    padding: 30px;
}

.githup-container {
    margin-left: 50px;
    background-color: black;
    border-radius: 20px;
    width: 1000px;
}

.velog-container {
    margin: 50px;
    background-color: black;
    border-radius: 20px;
    width: 1000px;
    float: right;
}

.githup-icon-container {
    padding: 50px;
    width: 300px;
    height: 300px;
}

.velog-icon-container {
    padding: 50px;
    width: 350px;
    height: 300px;
    float: right;
}

.githup-icon {
    border-radius: 20px;
    width: 200px;
    height: 200px;
}

.velog-icon {
    border-radius: 20px;
    width: 250px;
    height: 200px;
}

.sub-title {
    display: flex;
    padding: 10px;
    justify-content: center;
}

.front-end {
    background-color: white;
    width : 300px;
    height: 80vh;
    border-radius: 20px;
    margin: 0 50px 0 50px;
}

.skill-icon1 {
    width: 250px;
    height: 100px;
}

.skill-icon2 {
    width: 150px;
    height: 150px;
}

.skill-container {
    display:flex;
}
